* {
    padding: 0;
    margin: 0;
}
.container {
    width: 960px;
    margin: 0 auto;
}
.header{
    margin: 30px 0 20px;
}
.boxTooth {
    width:35px;
    float:left;
    margin: 0 10px 50px 0;
}
.addButton,.removeButton {
    margin-bottom: 5px;
    width: 16px;
    border-radius: 10px;
    padding: 0;
    cursor:pointer;
}
.addButton {
    float:left;
    background: green;
    color:white
}
.removeButton {
    float:right;
    background:red;
    color: white;
}
.tooth {
    display:block;
    margin: 0 auto;
}
.tooth.disabled {
    display: none;
}

.clear {
    clear:both;
}

.spaceRight {
    margin-right:40px;
}
.noMarginRight{
    margin-right: 0;
}

.bt-toolbar {
    margin: 5px 10px;
}



.face {
    cursor:pointer;
}





.aws-btn {
    --button-default-height: 48px;
    --button-default-font-size: 14px;
    --button-default-border-radius: 6px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 5px;
    --button-hover-pressure: 2;
    --transform-speed: 0.185s;
    --button-primary-color: #3f51b5;
    --button-primary-color-dark: #2a3143;
    --button-primary-color-light: #d4d9e4;
    --button-primary-color-hover: #424e6a;
    --button-primary-border: none;
    --button-secondary-color: #fffc6c;
    --button-secondary-color-dark: #b9b500;
    --button-secondary-color-light: #6c6a00;
    --button-secondary-color-hover: #fffb3e;
    --button-secondary-border: none;
    --button-anchor-color: #f3c8ad;
    --button-anchor-color-dark: #734922;
    --button-anchor-color-light: #4c3016;
    --button-anchor-color-hover: #f1bfa0;
    --button-anchor-border: 1px solid #8c633c;
}    